In [81]:
import pandas as pd
import numpy as np
import random

In [107]:
datel=[]
hoursl=[]
minutesl=[]
timel=[]

In [108]:
for i in range(1,1000):
    date="17/12/2020"
    hoursl.append(random.randrange(17, 22))
    minutesl.append(random.randrange(11, 59))
    time=f"{hoursl[i-1]}:{minutesl[i-1]}"
    datel.append(date)
    timel.append(time)
    #print(random.randrange(0, 23))

In [109]:
stimel=sorted(timel)

In [110]:
df = pd.DataFrame()

In [111]:
df['Date'] = datel 
df['Time'] = stimel

In [112]:
df

           Date   Time
0    17/12/2020  17:11
1    17/12/2020  17:11
2    17/12/2020  17:11
3    17/12/2020  17:11
4    17/12/2020  17:11
..          ...    ...
994  17/12/2020  21:58
995  17/12/2020  21:58
996  17/12/2020  21:58
997  17/12/2020  21:58
998  17/12/2020  21:58

[999 rows x 2 columns]

In [113]:
datel=[]
hoursl=[]
minutesl=[]
timel=[]

In [114]:
for i in range(1,100):
    date="17/12/2020"
    hoursl.append(random.randrange(17, 22))
    minutesl.append(random.randrange(11, 59))
    time=f"{hoursl[i-1]}:{minutesl[i-1]}"
    datel.append(date)
    timel.append(time)
    #print(random.randrange(0, 23))

In [115]:
stimel=sorted(timel)

In [116]:
df2 = pd.DataFrame()

In [117]:
df2['Date'] = datel 
df2['Time'] = stimel

In [118]:
df2

          Date   Time
0   17/12/2020  17:12
1   17/12/2020  17:13
2   17/12/2020  17:14
3   17/12/2020  17:15
4   17/12/2020  17:16
..         ...    ...
94  17/12/2020  21:39
95  17/12/2020  21:39
96  17/12/2020  21:44
97  17/12/2020  21:45
98  17/12/2020  21:51

[99 rows x 2 columns]

In [127]:
df3=pd.merge(df, df2, on='Time', how='left')

In [128]:
df3

          Date_x   Time Date_y
0     17/12/2020  17:11    NaN
1     17/12/2020  17:11    NaN
2     17/12/2020  17:11    NaN
3     17/12/2020  17:11    NaN
4     17/12/2020  17:11    NaN
...          ...    ...    ...
1063  17/12/2020  21:58    NaN
1064  17/12/2020  21:58    NaN
1065  17/12/2020  21:58    NaN
1066  17/12/2020  21:58    NaN
1067  17/12/2020  21:58    NaN

[1068 rows x 3 columns]

In [104]:
df.to_excel('17_12_test.xlsx')

In [98]:
df2.to_excel('17_12_actual.xlsx')

In [99]:
df3.to_excel('17_12_comparison.xlsx')

In [129]:
gfg_csv_data = df3.to_csv('GfG.csv', index = True)