In [1]:
import pandas as pd 
import math

In [20]:
# (round(myFloat, 2))

In [56]:
def f1(x2,x3):
    return (1/9)*((b1)-(x2)-(x3))

In [59]:
def f2(x1,x3):
    return (1/10)*((b2)-(2*x1)-(3*x3))

In [60]:
def f3(x1,x2):
    return (1/11)*((b3)-(3*x1)-(4*x2))

In [61]:
b1=10
b2=19
b3=0

In [62]:
#setting solytion to 0
x1=0
x2=0
x3=0
#list for storing values
x1l=[]
x2l=[]
x3l=[]

In [63]:
#gauss jacobi
for i in range(5000):
    count=0
    x1t=f1(x2,x3)
    x2t=f2(x1,x3)
    x3t=f3(x1,x2)

    x1l.append(x1)
    x2l.append(x2)
    x3l.append(x3)
   
    if abs(x1t-x1)<10**-5:
        print("reached solution")
        break

    x1=x1t
    x2=x2t
    x3=x3t
    
    if abs(x1)==math.inf:
        print("non converging")
        break

reached solution

In [64]:
df2 = pd.DataFrame(list(zip(x1l, x2l, x3l)), 
               columns =['x1', 'x2', 'x3'])

In [65]:
df2

          x1        x2        x3
0   0.000000  0.000000  0.000000
1   1.111111  1.900000  0.000000
2   0.900000  1.677778 -0.993939
3   1.035129  2.018182 -0.855556
4   0.981930  1.949641 -1.016192
5   1.007395  2.008472 -0.976760
6   0.996476  1.991549 -1.005097
7   1.001505  2.002234 -0.995966
8   0.999304  1.998489 -1.001223
9   1.000304  2.000506 -0.999260
10  0.999862  1.999717 -1.000267
11  1.000061  2.000108 -0.999859
12  0.999972  1.999946 -1.000056
13  1.000012  2.000022 -0.999973
14  0.999994  1.999989 -1.000011