In [47]:
import pandas as pd 
import math
import decimal 
from decimal import Decimal

In [2]:
a = [[1/1, 1/2, 1/3, 1/4, 1/5],
     [1/2, 1/3, 1/4, 1/5, 1/6],
     [1/3, 1/4, 1/5, 1/6, 1/7],
     [1/4, 1/5, 1/6, 1/7, 1/8],
     [1/5, 1/6, 1/7, 1/8, 1/9]] 
b = [[1/1+1/2+1/3+1/4+1/5],
     [1/2+1/3+1/4+1/5+1/6],
     [1/3+1/4+1/5+1/6+1/7],
     [1/4+1/5+1/6+1/7+1/8],
     [1/5+1/6+1/7+1/8+1/9]]

In [3]:
a

[[1.0, 0.5, 0.3333333333333333, 0.25, 0.2],
 [0.5, 0.3333333333333333, 0.25, 0.2, 0.16666666666666666],
 [0.3333333333333333, 0.25, 0.2, 0.16666666666666666, 0.14285714285714285],
 [0.25, 0.2, 0.16666666666666666, 0.14285714285714285, 0.125],
 [0.2, 0.16666666666666666, 0.14285714285714285, 0.125, 0.1111111111111111]]

In [4]:
b

[[2.283333333333333],
 [1.45],
 [1.0928571428571427],
 [0.8845238095238095],
 [0.7456349206349207]]

In [70]:
a[0][1]

0.5

In [5]:
def f1(x2,x3,x4,x5):
    x1 = ((1/1+1/2+1/3+1/4+1/5)-(((1/2)*x2)+((1/3)*x3)+((1/4)*x4)+((1/5)*x5)))/(1)
    return x1

In [6]:
def f2(x1,x3,x4,x5):
    x2 = ((1/2+1/3+1/4+1/5+1/6)-(((1/2)*x1)+((1/4)*x3)+((1/5)*x4)+((1/6)*x5)))/(1/3)
    return x2

In [7]:
def f3(x1,x2,x4,x5):
    x3 = ((1/3+1/4+1/5+1/6+1/7)-(((1/3)*x1)+((1/4)*x2)+((1/6)*x4)+((1/7)*x5)))/(1/5)
    return x3

In [8]:
def f4(x1,x2,x3,x5):
    x4 = ((1/4+1/5+1/6+1/7+1/8)-(((1/4)*x1)+((1/5)*x2)+((1/6)*x3)+((1/8)*x5)))/(1/7)
    return x4

In [9]:
def f5(x1,x2,x3,x4):
    x5 = ((1/5+1/6+1/7+1/8+1/9)-(((1/5)*x1)+((1/6)*x2)+((1/7)*x3)+((1/8)*x4)))/(1/9)
    return x5

In [76]:
# (round(myFloat, 2))

In [77]:
#setting solytion to 0
x1=0
x2=0
x3=0
x4=0
x5=0
#list for storing values
x1l=[]
x2l=[]
x3l=[]
x4l=[]
x5l=[]

In [78]:
#gauss seidal
for i in range(50000):
    count=0
#     print("i=",i)
    
    x1l.append(x1)
    x2l.append(x2)
    x3l.append(x3)
    x4l.append(x4)
    x5l.append(x5)
#     print("added to list")
       
    x1=f1(x2,x3,x4,x5)
#     print(x1)
    x2=f2(x1,x3,x4,x5)
#     print(x2)
    x3=f3(x1,x2,x4,x5)
#     print(x3)
    x4=f4(x1,x2,x3,x5)
#     print(x4)
    x5=f5(x1,x2,x3,x4)
#     print(x5)
#     print("executed expressions")

In [79]:
df = pd.DataFrame(list(zip(x1l, x2l, x3l, x4l, x5l)), 
               columns =['x1', 'x2', 'x3', 'x4','x5'])

In [80]:
df

             x1        x2        x3        x4        x5
0      0.000000  0.000000  0.000000  0.000000  0.000000
1      2.283333  0.925000  0.502480  0.314606  0.213236
2      1.532041  1.379696  0.771780  0.492028  0.337675
3      1.145683  1.588586  0.917861  0.596397  0.414552
4      0.951077  1.669874  0.998709  0.661565  0.465650
...         ...       ...       ...       ...       ...
49995  0.999966  1.000624  0.997343  1.003979  0.998066
49996  0.999966  1.000624  0.997343  1.003978  0.998066
49997  0.999966  1.000624  0.997343  1.003978  0.998067
49998  0.999966  1.000624  0.997343  1.003978  0.998067
49999  0.999966  1.000624  0.997343  1.003978  0.998067

[50000 rows x 5 columns]

In [81]:
print(df.iloc[5000]) #for checking any particular iteration

x1    0.999772
x2    1.004189
x3    0.982151
x4    1.026723
x5    0.987012
Name: 5000, dtype: float64

In [82]:
# f1(x2,x3,x4,x5)

In [83]:
# f2(x1,x3,x4,x5)

In [84]:
# f3(x1,x2,x4,x5)

In [85]:
# f4(x1,x2,x3,x5)

In [86]:
# f5(x1,x2,x3,x4)

In [55]:
x1=(Decimal.from_float(0), '.22')
x2=(Decimal.from_float(0), '.22')
x3=(Decimal.from_float(0), '.22')
x4=(Decimal.from_float(0), '.22')
x5=(Decimal.from_float(0), '.22')

x1l=[]
x2l=[]
x3l=[]
x4l=[]
x5l=[]
absl=[]

In [56]:
#gauss jacobi
# decimal.getcontext().prec = 7
for i in range(5000):
    count=0
#     print("\n\n")
#     print("i=",i)
    x1l.append(x1)
    x2l.append(x2)
    x3l.append(x3)
    x4l.append(x4)
    x5l.append(x5)
#     print("added to list")
#     print("x1t",x1t)
#     print("x2t",x2t)
#     print("x3t",x3t)
#     print("x4t",x4t)
#     print("x5t",x5t)
    x1t=f1(x2,x3,x4,x5)
    x2t=f2(x1,x3,x4,x5)
    x3t=f3(x1,x2,x4,x5)
    x4t=f4(x1,x2,x3,x5)
    x5t=f5(x1,x2,x3,x4)
    
    if abs(x1t-x1)<10**-3:
        print("reached solution")
        break
    else:
        absl.append(abs(x1t-x1))
#     print("executed expressions")
    
#     print("x1",x1)
#     print("x2",x2)
#     print("x3",x3)
#     print("x4",x4)
#     print("x5",x5)
#     print("current values")
    x1=x1t #(Decimal.from_float(xt1), '.22')
    x2=x2t #(Decimal.from_float(xt2), '.22')
    x3=x3t #(Decimal.from_float(xt3), '.22')
    x4=x4t #(Decimal.from_float(xt4), '.22')
    x5=x5t #(Decimal.from_float(xt5), '.22')
    
#     print("x1",x1)
#     print("x2",x2)
#     print("x3",x3)
#     print("x4",x4)
#     print("x5",x5)
#     print("temp val assigned")
    


    if abs(x1)==math.inf:
        print("non converging")
        break

TypeError: can't multiply sequence by non-int of type 'float'

In [52]:
df2 = pd.DataFrame(list(zip(x1l, x2l, x3l, x4l, x5l,absl)), 
               columns =['x1', 'x2', 'x3', 'x4','x5','convergence'])

In [53]:
df2

,x1,x2,x3,x4,x5,convergence
0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.283333e+00
1,2.283333e+00,4.350000e+00,5.464286e+00,6.191667e+00,6.710714e+00,6.886488e+00
2,-4.603155e+00,-1.024357e+01,-1.373186e+01,-1.614104e+01,-1.791542e+01,2.420390e+01
3,1.960075e+01,4.019596e+01,5.218827e+01,6.028468e+01,6.617567e+01,8.311779e+01
4,-6.351704e+01,-1.334510e+02,-1.749542e+02,-2.031740e+02,-2.237841e+02,2.863942e+02
...,...,...,...,...,...,...
570,-6.266696e+305,-1.308773e+306,-1.711791e+306,-1.985387e+306,-2.185043e+306,2.785009e+306
571,2.158339e+306,4.507601e+306,5.895651e+306,6.837956e+306,7.525600e+306,9.591966e+306
572,-7.433627e+306,-1.552482e+307,-2.030546e+307,-2.355089e+307,-2.591924e+307,3.303609e+307
573,2.560247e+307,5.346969e+307,6.993489e+307,8.111263e+307,8.926953e+307,1.137810e+308
574,-8.817854e+307,-inf,-inf,-inf,-inf,inf

In [31]:
df2.iloc[-1]

x1            -8.817854e+307
x2                      -inf
x3                      -inf
x4                      -inf
x5                      -inf
convergence              inf
Name: 574, dtype: float64

In [91]:
df2.tail(5)

                x1             x2             x3             x4             x5
570 -6.266696e+305 -1.308773e+306 -1.711791e+306 -1.985387e+306 -2.185043e+306
571  2.158339e+306  4.507601e+306  5.895651e+306  6.837956e+306  7.525600e+306
572 -7.433627e+306 -1.552482e+307 -2.030546e+307 -2.355089e+307 -2.591924e+307
573  2.560247e+307  5.346969e+307  6.993489e+307  8.111263e+307  8.926953e+307
574 -8.817854e+307           -inf           -inf           -inf           -inf