In [29]:
import pandas as pd 
# import math

In [30]:
a = [[1/1, 1/2, 1/3, 1/4, 1/5],
     [1/2, 1/3, 1/4, 1/5, 1/6],
     [1/3, 1/4, 1/5, 1/6, 1/7],
     [1/4, 1/5, 1/6, 1/7, 1/8],
     [1/5, 1/6, 1/7, 1/8, 1/9]] 
b = [[1/1+1/2+1/3+1/4+1/5],
     [1/2+1/3+1/4+1/5+1/6],
     [1/3+1/4+1/5+1/6+1/7],
     [1/4+1/5+1/6+1/7+1/8],
     [1/5+1/6+1/7+1/8+1/9]]

In [31]:
a

[[1.0, 0.5, 0.3333333333333333, 0.25, 0.2],
 [0.5, 0.3333333333333333, 0.25, 0.2, 0.16666666666666666],
 [0.3333333333333333, 0.25, 0.2, 0.16666666666666666, 0.14285714285714285],
 [0.25, 0.2, 0.16666666666666666, 0.14285714285714285, 0.125],
 [0.2, 0.16666666666666666, 0.14285714285714285, 0.125, 0.1111111111111111]]

In [32]:
b

[[2.283333333333333],
 [1.45],
 [1.0928571428571427],
 [0.8845238095238095],
 [0.7456349206349207]]

In [33]:
a[0][1]

0.5

In [34]:
def f1(x2,x3,x4,x5):
    x1 = ((1/1+1/2+1/3+1/4+1/5)-(((1/2)*x2)+((1/3)*x3)+((1/4)*x4)+((1/5)*x5)))/(1)
    return x1

In [35]:
def f2(x1,x3,x4,x5):
    x2 = ((1/2+1/3+1/4+1/5+1/6)-(((1/2)*x1)+((1/4)*x3)+((1/5)*x4)+((1/6)*x5)))/(1/3)
    return x2

In [36]:
def f3(x1,x2,x4,x5):
    x3 = ((1/3+1/4+1/5+1/6+1/7)-(((1/3)*x1)+((1/4)*x2)+((1/6)*x4)+((1/7)*x5)))/(1/5)
    return x3

In [37]:
def f4(x1,x2,x3,x5):
    x4 = ((1/4+1/5+1/6)+(1/7)+(1/8))-(((1/4)*x1)+((1/5)*x2)+((1/6)*x3)+((1/8)*x5)))/(1/7)
    return x4

In [38]:
def f5(x1,x2,x3,x4):
    x5 = ((1/5+1/6+1/7+1/8+1/9)-(((1/5)*x1)+((1/6)*x2)+((1/7)*x3)+((1/8)*x4)))/(1/9)
    return x5

In [76]:
# (round(myFloat, 2))

In [39]:
#setting solytion to 0
x1=0
x2=0
x3=0
x4=0
x5=0
#list for storing values
x1l=[]
x2l=[]
x3l=[]
x4l=[]
x5l=[]

In [40]:
#gauss seidal
for i in range(50000):
    count=0
#     print("i=",i)
    
    x1l.append(x1)
    x2l.append(x2)
    x3l.append(x3)
    x4l.append(x4)
    x5l.append(x5)
#     print("added to list")
       
    x1=f1(x2,x3,x4,x5)
#     print(x1)
    x2=f2(x1,x3,x4,x5)
#     print(x2)
    x3=f3(x1,x2,x4,x5)
#     print(x3)
    x4=f4(x1,x2,x3,x5)
#     print(x4)
    x5=f5(x1,x2,x3,x4)
#     print(x5)
#     print("executed expressions")

In [41]:
df = pd.DataFrame(list(zip(x1l, x2l, x3l, x4l, x5l)), 
               columns =['x1', 'x2', 'x3', 'x4','x5'])

In [42]:
df

             x1        x2        x3        x4        x5
0      0.000000  0.000000  0.000000  0.000000  0.000000
1      2.283333  0.925000  0.502480  0.314606  0.213236
2      1.532041  1.379696  0.771780  0.492028  0.337675
3      1.145683  1.588586  0.917861  0.596397  0.414552
4      0.951077  1.669874  0.998709  0.661565  0.465650
...         ...       ...       ...       ...       ...
49995  0.999966  1.000624  0.997343  1.003979  0.998066
49996  0.999966  1.000624  0.997343  1.003978  0.998066
49997  0.999966  1.000624  0.997343  1.003978  0.998067
49998  0.999966  1.000624  0.997343  1.003978  0.998067
49999  0.999966  1.000624  0.997343  1.003978  0.998067

[50000 rows x 5 columns]

In [81]:
print(df.iloc[5000]) #for checking any particular iteration

x1    0.999772
x2    1.004189
x3    0.982151
x4    1.026723
x5    0.987012
Name: 5000, dtype: float64

In [82]:
# f1(x2,x3,x4,x5)

In [83]:
# f2(x1,x3,x4,x5)

In [84]:
# f3(x1,x2,x4,x5)

In [85]:
# f4(x1,x2,x3,x5)

In [86]:
# f5(x1,x2,x3,x4)

In [43]:
x1=0
x2=0
x3=0
x4=0
x5=0

x1l=[]
x2l=[]
x3l=[]
x4l=[]
x5l=[]

In [18]:
#gauss jacobi
for i in range(5000):
    count=0
#     print("\n\n")
#     print("i=",i)
    x1l.append(x1)
    x2l.append(x2)
    x3l.append(x3)
    x4l.append(x4)
    x5l.append(x5)
#     print("added to list")
#     print("x1t",x1t)
#     print("x2t",x2t)
#     print("x3t",x3t)
#     print("x4t",x4t)
#     print("x5t",x5t)
    x1t=f1(x2,x3,x4,x5)
    x2t=f2(x1,x3,x4,x5)
    x3t=f3(x1,x2,x4,x5)
    x4t=f4(x1,x2,x3,x5)
    x5t=f5(x1,x2,x3,x4)
    
    if abs(x1t-x1)<10**-5:
        print("reached solution")
        break
#     print("executed expressions")
    
#     print("x1",x1)
#     print("x2",x2)
#     print("x3",x3)
#     print("x4",x4)
#     print("x5",x5)
#     print("current values")
    x1=x1t
    x2=x2t
    x3=x3t
    x4=x4t
    x5=x5t
    
#     print("x1",x1)
#     print("x2",x2)
#     print("x3",x3)
#     print("x4",x4)
#     print("x5",x5)
#     print("temp val assigned")
    


#     if abs(x1)==math.inf:
#         print("non converging")
#         break

In [44]:
#gauss jacobi
import math
for i in range(5000):
    count=0
#     print("\n\n")
#     print("i=",i)
       
#     print("x1t",x1t)
#     print("x2t",x2t)
#     print("x3t",x3t)
#     print("x4t",x4t)
#     print("x5t",x5t)
    x1t=f1(x2,x3,x4,x5)
    x2t=f2(x1,x3,x4,x5)
    x3t=f3(x1,x2,x4,x5)
    x4t=f4(x1,x2,x3,x5)
    x5t=f5(x1,x2,x3,x4)
    
    if abs(x1t-x1)<10**-5:
        print("reached solution")
        break
#     print("executed expressions")
    
#     print("x1",x1)
#     print("x2",x2)
#     print("x3",x3)
#     print("x4",x4)
#     print("x5",x5)
#     print("current values")
    x1=x1t
    x2=x2t
    x3=x3t
    x4=x4t
    x5=x5t
    
#     print("x1",x1)
#     print("x2",x2)
#     print("x3",x3)
#     print("x4",x4)
#     print("x5",x5)
#     print("temp val assigned")
    
    x1l.append(x1)
    x2l.append(x2)
    x3l.append(x3)
    x4l.append(x4)
    x5l.append(x5)
#     print("added to list")

    if abs(x1)==math.inf:
        print("non converging")
        break

non converging

In [45]:
df2 = pd.DataFrame(list(zip(x1l, x2l, x3l, x4l, x5l)), 
               columns =['x1', 'x2', 'x3', 'x4','x5'])

In [46]:
df2

                x1             x2             x3             x4             x5
0     2.283333e+00   4.350000e+00   5.464286e+00   6.191667e+00   6.710714e+00
1    -4.603155e+00  -1.024357e+01  -1.373186e+01  -1.614104e+01  -1.791542e+01
2     1.960075e+01   4.019596e+01   5.218827e+01   6.028468e+01   6.617567e+01
3    -6.351704e+01  -1.334510e+02  -1.749542e+02  -2.031740e+02  -2.237841e+02
4     2.228772e+02   4.646376e+02   6.072972e+02   7.041021e+02   7.747297e+02
..             ...            ...            ...            ...            ...
570  2.158339e+306  4.507601e+306  5.895651e+306  6.837956e+306  7.525600e+306
571 -7.433627e+306 -1.552482e+307 -2.030546e+307 -2.355089e+307 -2.591924e+307
572  2.560247e+307  5.346969e+307  6.993489e+307  8.111263e+307  8.926953e+307
573 -8.817854e+307           -inf           -inf           -inf           -inf
574            inf            inf            inf            inf            inf

[575 rows x 5 columns]

In [21]:
df2.tail(5)

       x1   x2   x3   x4   x5
4995  inf  inf  inf  inf  inf
4996 -inf -inf -inf -inf -inf
4997  inf  inf  inf  inf  inf
4998 -inf -inf -inf -inf -inf
4999  inf  inf  inf  inf  inf